ion-content {
  ion-list {
    background: transparent;
  }
}

ion-footer {
  ion-toolbar {
    padding: 0 3px;

    ion-textarea {
      border: 1px solid var(--ion-color-medium);
      padding-left: 16px;
      border-radius: 12px;
      margin: 0.5vh 0;
    }
  }
}